<div class="column is-3">
    <div class="card mb-3">
        <header class="card-header">
            <p class="card-header-title">At a Glance</p>
        </header>
        <div class="card-content">
            <div class="columns is-multiline">
                <div class="column is-6"><a href="">{{ details.post_count }} Post{{ details.post_count|pluralize }}</a></div>
                <div class="column is-6"><a href="">{{ details.page_count }} Page{{ details.page_count|pluralize }}</a></div>
                <div class="column is-6"><a href="">{{ details.comment_count }} Comment{{ details.comment_count|pluralize }}</a></div>
                <div class="column is-12">
                    <p>Running on Python {{ details.py_version }} and Django {{ details.django_version }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Recent Posts</p>
        </header>
        <div class="card-content">
            <div class="columns is-multiline">
                <div class="column is-12">
                    {% for post in details.last_posts.all %}
                    <div class="columns">
                        <div class="column is-6">{{ post.created_at|date:"M d H:i" }}</div>
                        <div class="column is-6"><a target="_blank" class="is-pulled-right" href="{% url 'post_details' post.slug %}">{{ post.title }}</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Recent Comments</p>
        </header>
        <div class="card-content">
            <div class="columns is-multiline">
                <div class="column is-12">
                    {% for comment in details.last_comments.all %}
                    <div class="columns">
                        <div class="column is-6">{{ comment.name }}</div>
                        <div class="column is-6"><a target="_blank" class="is-pulled-right" href="{% url 'post_details' comment.post.slug %}">{{ comment.post }}</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>