<div class="column is-3">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Site Health Status</p>
        </header>
        <div class="card-content">
            <div class="content is-centered has-text-centered">
                <strong class="">Good</strong>
            </div>
            <p class="mb-3">Your site’s health is looking good, but there are still some things you can do to improve its performance and security.</p>
            <p> Take a look at the <strong>9 items</strong> on the Site Health screen. </p>
        </div>
    </div>
</div>