<div class="column is-3">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Site Statistics</p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    <li>{{ details.post_count }} post{{ details.post_count|pluralize }}</li>
                    <li>{{ details.page_count }} page{{ details.page_count|pluralize }}</li>
                    <li>{{ details.draft_post_count }} draft{{ details.draft_post_count|pluralize }}</li>
                    <li>{{ details.comment_count }} comment{{ details.comment_count|pluralize }}</li>
                    <li>0 comments in queue</li>
                    <li>23 comments approved</li>
                    <li>1 registered users</li>
                    <li>3 categories</li>
                </ul>
            </div>
        </div>
    </div>
</div>