<div class="column is-3">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">Site Statistics</p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    <li>12 posts</li>
                    <li>1 page</li>
                    <li>0 drafts</li>
                    <li>25 total comments</li>
                    <li>0 comments in queue</li>
                    <li>23 comments approved</li>
                    <li>1 registered users</li>
                    <li>3 categories</li>
                </ul>
            </div>
        </div>
    </div>
</div>