{% load urlparams %}

<div class="column is-12">
    <span class="subtitle mr-2">Posts</span>
    <a class="button is-small" href="/dashboard/new_post">Add New</a>
    <form class="mt-3" action="{% url 'posts' %}{% urlparams status=request.GET.status %}" method="GET">
        <div class="columns">
            <div class="column is-8 mt-3">
                <a class="{% if request.GET.status == 'all'%}has-text-black{% endif %}" href="{% url 'posts' %}{% urlparams status='all' %}">All</a> | 
                <a class="{% if request.GET.status is None or request.GET.status == 'published'%}has-text-black{% endif %}" href="{% url 'posts' %}{% urlparams status='published' %}">Published</a> | 
                <a class="{% if request.GET.status == 'draft'%}has-text-black{% endif %}" href="{% url 'posts' %}{% urlparams status='draft' %}">Draft</a>
        
                
            </div>
            
            <div class="column is-3">
                <input name="search" class="input is-pulled-right" type="text" value="{{ request.GET.search }}">
            </div>
            <div class="column is-1">
                <button class="button is-fullwidth" type="submit">Search Posts</button>
            </div>
        </div>
    </form>
</div>
<div class="column is-12">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th><label class="checkbox"><input type="checkbox" /></label></th>
                <th>Title</th>
                <th>Categories</th>
                <th class="has-text-centered column-comments"><span class="tag has-background-grey has-text-white">?</span></th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <form action="">
                {% for post in posts %}
                <tr>
                    <td><label class="checkbox"><input type="checkbox" /></label></td>
                    <td><a href="">{{ post.title }}</a></td>
                    <td>
                        {% for category in post.category.all %}
                        <span class="tag is-primary is-light">
                            <a href="/category/{{category.slug}}">{{ category }}</a>
                        </span>
                        {% endfor %}
                    </td>
                    <td class="has-text-centered">
                        <span class="tag has-background-grey has-text-white">{{ post.comments.count }}</span>
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            </form>
        </tbody>
    </table>
    {% if posts.paginator.num_pages > 1 %}
    <nav class="pagination is-pulled-right" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if posts.has_previous %}
            <li><a class="pagination-previous" href="{% urlparams page=posts.previous_page_number status=request.GET.status search=request.GET.search %}">&laquo;</a></li>
            {% else %}
            <li><span class="is-unclickable pagination-previous">&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li><span class="pagination-link is-current">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a class="pagination-link" href="{% urlparams page=i status=request.GET.status search=request.GET.search %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %} 
            <li><a class="pagination-next" href="{% urlparams page=posts.next_page_number status=request.GET.status search=request.GET.search %}">&raquo;</a></li>
            {% else %}
            <li><span class="is-unclickable pagination-next">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
