{% extends "blog/base.html" %}
{% load markdown_extras %}

{% block content %}
    {% for post in posts %}
    
    

    <section class="section">
        {%if post.cover_image %}
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <figure class="image is-16by9">
                    <img src="{{ post.cover_image.url }}" alt="">
                </figure>
            </div>
        </div>
        {% endif %}
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="content is-medium">
                    <h2 class="title"><a href="{{post.slug}}">{{ post.title }}</a></h2>
                    <h5 class="subtitle is-7">{{ post.created_at }}</h5>
                    <p>{{ post.content|markdown|safe|truncatewords:50|linebreaks }}</p>
                    <a href="{{post.slug}}">read more</a>
                </div>
                {% for category in post.category.all %}
                <span class="tag is-primary is-light">
                    <a href="/category/{{category.slug}}">{{ category }}</a>
                </span>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
    {% if posts.paginator.num_pages > 1 %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% if posts.has_previous %}
            <li><a class="pagination-previous" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li><span class="is-unclickable pagination-previous">&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li><span class="pagination-link is-current">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li><a class="pagination-next" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li><span class="is-unclickable pagination-next">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}