{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
        <!-- <div class="columns">
            <div class="column is-8 is-offset-2">
                <figure class="image is-16by9">
                    <img src="https://bulmatemplates.github.io/bulma-templates/images/first-post.png" alt="">
                </figure>
            </div>
        </div> -->
        <section class="section">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div class="content is-medium">
                        <h2 class="subtitle is-4">December 25, 2018</h2>
                        <h2 class="title"><a href="{{post.slug}}">{{ post.title }}</a></h2>
                        <p>{{ post.content|safe|truncatewords:50 }}</p>
                    </div>
                    {% for category in post.category.all %}
                    <span class="tag is-primary is-light">
                        <a href="/category/{{category.slug}}">{{ category }}</a>
                    </span>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}