<div class="column is-2 ">
    <div class="menu sticky">
        <p class="menu-label">Dashboard</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">Home</a></li>
        </ul>
        <p class="menu-label">Posts</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">All Posts</a></li>
            <li><a href="{% url 'dashboard' %}">Add New</a></li>
            <li><a href="{% url 'dashboard' %}">Categories</a></li>
        </ul>
        <p class="menu-label">Posts</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">All Pages</a></li>
            <li><a href="{% url 'dashboard' %}">Add New</a></li>
        </ul>
        <p class="menu-label">Comments</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">All Comments</a></li>
            <li><a href="{% url 'dashboard' %}">Pending Approval</a></li>
        </ul>
        <p class="menu-label">Media</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">All Media</a></li>
            <li><a href="{% url 'dashboard' %}">Add New</a></li>
        </ul>
        <p class="menu-label">Settings</p>
        <ul class="menu-list">
            <li><a href="{% url 'dashboard' %}">General</a></li>
            <li><a href="{% url 'dashboard' %}">Writing</a></li>
            <li><a href="{% url 'dashboard' %}">Reading</a></li>
            <li><a href="{% url 'dashboard' %}">Discussion</a></li>
            <li><a href="{% url 'dashboard' %}">Media</a></li>
        </ul>
    </div>
</div>